.singleview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.podcastphoto{
    height: 611px;
    width: 689px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    object-fit: cover;
}
.reserverbox{
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
}
.reserverbox a{
    color: black;
    text-decoration: none;
    border-radius: 0.5vw;
    font-family: helvetica neue bold;
    padding: 8ch;

}
ol, li, a {
    text-decoration: none;
    list-style: none;
    font-family: helvetica neue;
    font-size: 12px;
}
.breadcrumbs{
    display: flex;
}

a {
    font-family: helvetica neue;
    color: #233249 !important;
}

.aboutproduct {
    padding-left: 5ch;
}