.singleview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.podcastphoto{
    height: 611px;
    width: 689px;
}
.reserverbox{
    background-color: #233249;
    padding: 10px 20px;
    width: fit-content;
}
.reserverbox a{
    color: black;
    text-decoration: none;
}
ol, li, a {
    text-decoration: none;
}
.breadcrumbs{
    display: flex;
}