.singleview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.podcastphoto{
    height: 611px;
    width: 689px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    object-fit: cover;
}
.reserverbox{
    background-color: #233249;
    padding: 10px 20px;
    width: fit-content;
}
.reserverbox a{
    color: black;
    text-decoration: none;
}
ol, li, a {
    text-decoration: none;
}
.breadcrumbs{
    display: flex;
}